# CONFIGURACIÓN DE LA BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin
DB_NAME=task_flow_pro

# CONFIGURACIÓN DEL PUERTO DEL SERVIDOR
PORT=3000

# CONFIGURACIÓN DE JWT
JWT_SECRET=tu_clave_secreta_muy_segura_aqui_2024
JWT_EXPIRES_IN=24h

# CONFIGURACIÓN DE ENTORNO
NODE_ENV=development