NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=task_flow_pro
DB_DATABASE=task_flow_pro

JWT_SECRET=change_this_secret_for_local_development
